$breakpoint: 1000px;
$font-size-static: 16px;
$font-size-responsive: 1.6vw;
$line-height: 1.45;
$whitespace: 0.75rem * $line-height;

$scale: (
  'font-size': (
    'coefficient': 1,
    'ratio': 1.33333,
  ),
  'whitespace': (
    'coefficient': 1.5,
    'ratio': 1.5,
  ),
);

$font-stack: (
  'headings': unquote('PT Serif, Georgia, serif'),
  'body': unquote('PT Sans, Helvetica, sans-serif'),
  'mono': unquote('Roboto Mono, Andale Mono, Lucida Console, monospace'),
);

$color: (
  'normal': rgba(0, 0, 0, 0.95),
  'light': rgba(0, 0, 0, 0.5),
  'action': rgba(17, 68, 228, 0.95),
);
