@use 'normalize';
@use 'guten-type';

$transition-fast: 50ms cubic-bezier(0, 0, 0.2, 1);
$transition-slow: 150ms cubic-bezier(0, 0, 0.2, 1) 250ms;

html {
  @include guten-type.set(
    $responsive-breakpoint: 1000px,
    $font-size: 16px,
    $font-stack: (
      'heading': ('PT Serif', serif),
      'body': ('PT Sans', sans-serif),
      'mono': ('Roboto Mono', monospace),
    ),
    $font-size-scale: (
      'start': 4,
      'base': 1,
      'ratio': 1.33333,
    ),
    $whitespace-scale: (
      'start': 4,
      'base': 1,
      'ratio': 1.5,
    ),
    $color: (
      'normal': rgba(0, 0, 0, 0.95),
      'light': rgba(0, 0, 0, 0.6),
      'action': rgba(17, 68, 228, 0.95),
    ),
  );
  @include guten-type.press;
  padding: 0.75 * guten-type.whitespace() 1.5rem 20vh 1.5rem;
}

body {
  margin: 0 auto;
  max-width: 33rem;
}

header {
  padding-bottom: guten-type.scale-whitespace(3);
  font-size: 110%;
  font-weight: bold;
  letter-spacing: 0.075rem;
  user-select: none;

  nav {
    display: flex;
    align-items: center;
    margin-right: -0.55rem;
  }

  .separator {
    padding: 0 0.35rem;
    color: guten-type.color('action');
    opacity: 0.6;
  }

  a {
    display: block;
    padding: 0.55rem;
    opacity: 0.6;
    transition: transform $transition-fast;

    &.current {
      opacity: 1;
    }

    &:active,
    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 1;
      transform: scale(1.125) rotate(2deg) translate3d(0.25rem, -0.1rem, 0);
    }

    &:first-child {
      margin-right: auto;
      margin-left: -1rem;
      opacity: 1;

      img {
        width: 2.75rem;
        min-width: 2.75rem;
        margin: 0;
      }

      &:active,
      &:hover,
      &:focus {
        transform: scale(1.1) rotate(-4deg) translate3d(-0.25rem, -0.1rem, 0);
      }
    }
  }
}

main {
  opacity: 0;
  transform: translate3d(0, 1vh, 0);
  transition: transform $transition-slow, opacity $transition-slow;

  &.loaded {
    opacity: 1;
    transform: none;
  }
}
