html,
body {
    padding: 0 25px 10vh 12.5px;
    font-family: 'PT Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    background: #fff;
    color: #000;

    @media all and (min-width: 1000px) {
        padding: 5vh 8vw 10vh 7vw;
        font-size: 2vw;
    }
}

header {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding: 30px 0;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-size: 66%;
    letter-spacing: .1rem;

    @media all and (min-width: 1000px) {
        padding: 5vh 0;
    }
}

header a {
    padding: 20px 15px;
    text-decoration: none;
    color: #bbb;

    @media all and (min-width: 1000px) {
        padding: 3vh 2vw;
    }

    &:hover,
    &:focus,
    &:active {
        color: #111;
        outline: 0;
    }
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 10vh auto;
    padding: 2.5vw 0 3vw 0;

    > * {
        border: 1px solid lightgray;
        width: 100%;
        margin: .5rem .75rem;
        word-wrap: break-word;

        @media all and (min-width: 750px) {
            width: 45%;
        }
    }
}

.section-about {
}

.section-projects > *:last-child {
    margin-right: auto;
}

.narrative {
    font-family: 'PT Serif', Georgia, serif;
    font-style: italic;
    font-size: 95%;
    color: #111;

    @media all and (min-width: 750px) {
        width: 66%;
    }

    > * {
        width: 100%;
    }
}

.banner {
    max-width: 100%;
    width: 100%;
}

h1,
h2 {
    margin: 0;
    font-weight: bold;
    line-height: 1.2;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 150%;
}

.large-text {
    font-size: 110%;
}
